.alert {
  max-width: 350px;
  min-width: 350px;
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 1000;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.1);
  background: url("../../../assets/img/pattern-wallpaper.svg");
  background-color: #fff;
  background-size: 100%;
  transition: 0.5s all ease-in;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.1s all ease-in;
}
