.App {
  text-align: center;
  /* min-height: 100vh; */
}

.rainbow-top {
  background: linear-gradient(
    to right,
    #f76f6f,
    #fcfc83,
    #fcca67,
    #84ffaf,
    #83e0f7,
    #ca67e5,
    #ff87e1
  );
  padding: 2.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  margin-left: 1rem;
}
