.App {
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgba(252, 236, 252, 0.1) 51%,
    rgba(255, 124, 216, 0.3) 100%
  );
  min-height: 100vh;
}

.rainbow-top {
  background: linear-gradient(
    to right,
    #f76f6f,
    #fcfc83,
    #fcca67,
    #84ffaf,
    #83e0f7,
    #ca67e5,
    #ff87e1
  );
  padding: 5px;
}
