{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:testing-library/recommended",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "ignorePatterns": ["node_modules/**/*"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
