.message {
  background: url("../../../assets/img/pattern-wallpaper.svg");
  background-size: 50%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s all ease-in;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.remove-status-message-btn:hover {
  color: white;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s all ease-in;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.1s all ease-in;
}
