.navbar {
  padding: 1rem 2rem;
}

.contract-balance {
  background-color: #5c0a93;
  height: 25px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 6px;
  font-family: monospace;
  padding-left: 10px;
}

.connected-network-logo {
  font-size: 12px;
}

.connect-to-wallet-btn {
  font-size: 0.9rem;
}
