.SuccessBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #52f292;
  transition: .5s all ease-in;
  padding: 1rem 0;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.1);
  display: none;
}

.Success-text {
  font-size: 18px;
  font-weight: normal;
}
